body {
	text-align: center;
	margin: auto;
	font-family: 'Droid Sans Mono', monospace;
	background-image: url("poo.jpg");
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 500%;
	color: yellow;
}

h2 {
	color: purple;
}

p {
	color: white;
	font-size:10px;
}

img {
	width:50%;
	height:50%;
}

a{
    color: black;
	text-decoration: none;
}

a:hover {
    color: white;
	background: hotpink;
}

a:active {
    color: black;
}
#my-signin2 {
	padding: 10px;
}

#signout {
    margin: auto;
	text-align: center;
    width: 12%;
	padding: 5px;
}

#girlfriend {
	margin: auto;
	width: 35%;
	height: 35%;
	border: white 10px solid;
	background-color: hotpink;
}

.button {
	background-image: url('plsdontsignout.png');
	background-repeat: repeat-x;
	background-color: white;
	text-align: center;
    border: none;
    display: inline-block;
	width: 70%;
	padding: 5%;
}
